@import './../../styles/base.scss';

.pagination{
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.01em;
    color: #000000;
    margin-top: 90px;
    @include breakpoint(phone){
        margin-top: 20px;
    }
    &-content{
        display: flex;
        justify-content: flex-end;
        text-align: center;
        margin-bottom: 50px;

    }
    &-item{
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 30px;
        letter-spacing: 0.01em;
        color: #000000;
        padding: 5px;
        margin-left: 25px;
        width: 34px;
        height: 34px;
        align-items: center;
        display: flex;
        justify-content: center;
        &:first-child{
            margin-left: 0;
        }
        &:hover{
            width: 33px;
            height: 33px;
            background: #E5E5E5;
        }
    }
}