@import '../../styles/base.scss';

.section{
    &-title{
        font-style: normal;
        font-weight: 500;
        font-size: 28px;
        line-height: 35px;
        letter-spacing: 0.01em;
        width: 325px;
        color: #FFFFFF;  
        padding: 5px 13px;
        background: rgba(0, 0, 0, 0.8);
        position: relative;
        @include breakpoint(xs){
            width: 100%;
            font-size: 18px;
            line-height: 22px;
        }
    }
}