@import '../../styles/base.scss';

.main-product{
    margin-top: 75px;
    @include breakpoint(xs){
        margin-top: 15px;
    }
    &-items{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        // grid-template-rows: repeat(2, 1fr);
        grid-gap: 25px;
        margin-top: 26px;
            @include breakpoint(tab-port) {
                grid-template-columns: repeat(2, 1fr);
                grid-gap: 12px;
            }  
    }
    &-item{
        &__img{
            // width: 331px;
            height: 331px; 
            border: 1px solid #E5E5E5;
            padding: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            @include breakpoint(xs) {
                height: 190px; 
            } 
            @include breakpoint(xx) {
                height: 160px; 
                padding: 5px;
            } 
            & img{
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        &__text{
            font-style: normal;
            letter-spacing: 0.01em;
            margin-top: 9px;
            &-name{
                font-weight: normal;
                font-size: 16px;
                line-height: 20px;
            }
            &-price{
                font-weight: bold;
                font-size: 18px;
                line-height: 30px;
                margin-top: 9px;
            }
        }
    }
}