@import '../styles/base.scss';


.page-arrangment{
    margin-top: 40px;

    &-all{
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.01em;
        color: #FFFFFF;
        float: right;
        // margin-top: 20px;
        background: rgba(0, 0, 0, 0.8);
        padding: 6px 12px;

    }
    &-items{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 400px);
        grid-gap: 25px;
        @include breakpoint(tab-land){
            grid-template-rows: repeat(4, 200px);
        }
        @include breakpoint(xs){
            grid-template-rows: repeat(4, 145px);
            grid-gap: 15px;
        }
    }

}


.arrangment{
    &-items{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 400px);
        grid-gap: 25px;
        margin-bottom: 25px;
        @include breakpoint(tab-land){
            grid-template-rows: repeat(3, 200px);
        }
        @include breakpoint(xs){
            grid-template-rows: repeat(3, 145px);
            grid-gap: 15px;
        }

    }
}
