@import '../styles/base.scss';

.pagination{
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.01em;
    color: #000000;
    margin-top: 90px;
    @include breakpoint(phone){
        margin-top: 20px;
    }
    &-content{
        display: flex;
        justify-content: flex-end;
        text-align: center;
        margin-bottom: 50px;

    }
    &-item{
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 30px;
        letter-spacing: 0.01em;
        color: #000000;
        padding: 5px;
        margin-left: 25px;
        width: 34px;
        height: 34px;
        align-items: center;
        display: flex;
        justify-content: center;
        &:first-child{
            margin-left: 0;
        }
        &:hover{
            width: 33px;
            height: 33px;
            background: #E5E5E5;
        }
    }
}

.page-arrangment{
    margin-top: 40px;

    &-all{
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.01em;
        color: #FFFFFF;
        float: right;
        // margin-top: 20px;
        background: rgba(0, 0, 0, 0.8);
        padding: 6px 12px;

    }
    &-items{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 400px);
        grid-gap: 25px;
        @include breakpoint(tab-land){
            grid-template-rows: repeat(4, 200px);
        }
        @include breakpoint(xs){
            grid-template-rows: repeat(4, 145px);
            grid-gap: 15px;
        }
    }

}